*{
    margin: 0;
    padding: 0;
    font-family: Conv_Roboto-Thin;
}

header{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,100,0.5)), url("http://www.mlcollege.in/uploads/gallery/media/career-options-after-bsc-computer-science-e1489736895942.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav_bar{
    color: rgb(0,0,0.5);
    height: 80px;
    box-sizing:border-box;
    display:block;
    float:none;
    position:static;
    z-index:auto;
}

.logo{
    float: left;
    margin: 10px 50px;
    height: 60px;
}

.menu{
    float: right;
    list-style: none;
    margin: 20px 0px;
}

.menu li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 25px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-family:sans-serif;
    display:inline-block;
 height:69px;
 padding:14px 6px 21px;
 color:white;
 text-decoration:none;
 outline:0;
}
.menu li a:before {
    content: "{";
    margin-right: 10px;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
  }
  
.menu li a:after {
    content: "}";
    margin-left: 10px;
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  
  .menu li a:hover:before,.menu li a:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  
#warm_welcome{
    color: white;
    position: relative;
    text-align: center;
    top: 100px;
    font-size: 70px;
    padding:50px;
}

section{
    box-sizing: border-box;
    display: inline-block;
    padding: 5em;
    position: relative;
    vertical-align: top;
    letter-spacing: -0.004em;
    line-height: 1.70;
    font-size: 18px;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 0px 250px;
    margin-top: 2em;
    min-width: 0px;
    line-height: 2em;
}


body{
    margin:0;
    padding:0;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    color:rgba(0,0,0,0.8);
    position:relative;
    min-height:100vh;
}

h1{
    font-size: 40px; 
    font-weight: 700;
    medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

h2{
    margin-top: 15px;
    font-size: 24px;
    color:rgba(0, 0, 0, 0.54);
}

p{
    font-size: 21px;
    margin-top: 35px;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 50px;
  color:white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

    @keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
    }

    @-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
    }

    @-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
    }

    @-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
    }

    @-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
    }